body {
	margin: 0;
	font-family: helvetica;
	background-color: red;

}

h1 {font-weight: 100;}

#logo {
	height: 80px;
	width: 80px
	background-color: red;
}

#container {

display: flex;
align-items: center;
justify-content: center;
height: 100vh;
flex-direction: column;

}